body {
    background-color: darkslategray;
    opacity: 1;
    transition: 1s opacity;
}


body.fade-out { 
    opacity: 0;
    transition: none;
}

h1, h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}

h1 {
    text-align: center;
}

div {
    color: rgba(0, 0, 0, 0.884);
    font-weight: bold;
}

#menuBG {
    width: 600px;
    height: 470px;
    margin: 10px auto;
}

#frmMenu {
    width: 600px;
    height: 200px;
}

#totalPrice {
    width: 200px;
    height: 190px;
    margin: 0 auto;
    float: right;
}

.left {
    width: 200px;
    height: 200px;
    float: left;
}

.center {
    width: 200px;
    height: 200px;
    float: left;
}

.right {
    width: 200px;
    height: 200px;
    float: right;
}

#showText {
    width: 200px;
    height: 190px;
    margin: 0px auto;
    float: left;
}

#cart {
    top: 0; 
    margin: 0px auto;
    width: 400px;
    height: 200px;
}

#btnOrder {
    display: block;
    margin: 10px auto;
    width: 100px;
    height: 40px;
}