Basic JavaScript Projects/testcode.js
Basic JavaScript Projects/test_code.js
Basic JavaScript Projects/.vscode/launch.json
Basic JavaScript Projects/Project11/HTML_4.html
Basic JavaScript Projects/React/react-dom-server.js
Basic JavaScript Projects/React/react-dom-server.min.js
Basic JavaScript Projects/React/react-dom.js
Basic JavaScript Projects/React/react-dom.min.js
Basic JavaScript Projects/React/react-with-addons.js
Basic JavaScript Projects/React/react-with-addons.min.js
Basic JavaScript Projects/React/react.js
Basic JavaScript Projects/React/react.min.js
Basic JavaScript Projects/React_projects/react-dom.js
Basic JavaScript Projects/React_projects/react.js
Basic JavaScript Projects/React_projects/my-app/.gitignore
Basic JavaScript Projects/React_projects/my-app/package-lock.json
Basic JavaScript Projects/React_projects/my-app/package.json
Basic JavaScript Projects/React_projects/my-app/README.md
Basic JavaScript Projects/React_projects/my-app/public/favicon.ico
Basic JavaScript Projects/React_projects/my-app/public/index.html
Basic JavaScript Projects/React_projects/my-app/public/logo192.png
Basic JavaScript Projects/React_projects/my-app/public/logo512.png
Basic JavaScript Projects/React_projects/my-app/public/manifest.json
Basic JavaScript Projects/React_projects/my-app/public/robots.txt
Basic JavaScript Projects/React_projects/my-app/src/App.css
Basic JavaScript Projects/React_projects/my-app/src/App.js
Basic JavaScript Projects/React_projects/my-app/src/App.test.js
Basic JavaScript Projects/React_projects/my-app/src/index.css
Basic JavaScript Projects/React_projects/my-app/src/index.js
Basic JavaScript Projects/React_projects/my-app/src/logo.svg
Basic JavaScript Projects/React_projects/my-app/src/reportWebVitals.js
Basic JavaScript Projects/React_projects/my-app/src/setupTests.js
Basic JavaScript Projects/Portfolio_Example/images/HTML_CSS_and_JavaScript.jpeg
Basic JavaScript Projects/Portfolio_Example/images/Picture_of_You.jpg
Basic JavaScript Projects/Portfolio_Example/images/Python.png
Basic JavaScript Projects/Portfolio_Example/images/SQL_and_Database.jpg
Basic JavaScript Projects/Portfolio_Example/images/SQL_and_Database(1).jpg
Basic JavaScript Projects/Portfolio_Example/images/SQL_and_Database(2).jpg
Basic JavaScript Projects/Portfolio_Example/images/Square Custom Picture.png
Basic JavaScript Projects/Portfolio_Example/images/Square Custom Picture(1).png
Basic JavaScript Projects/Portfolio_Example/images/Square Personal Photo.png
Basic JavaScript Projects/Portfolio_Example/images/Square Personal Photo(1).png
Basic JavaScript Projects/Portfolio_Example/images/Square Personal Photo(2).png
Basic JavaScript Projects/Portfolio_Example/images/Square Personal Photo(3).png
Basic JavaScript Projects/Portfolio_Example/images/Square Personal Photo(4).png
Basic JavaScript Projects/Portfolio_Example/js/sample_portfolio.js
Basic JavaScript Projects/Portfolio_Example/js/sample_portfolio(1).js
Basic JavaScript Projects/Portfolio_Example/js/sample_portfolio(2).js
Basic JavaScript Projects/Portfolio_Example/js/sample_portfolio(3).js
Basic JavaScript Projects/Portfolio_Example/js/sample_portfolio(4).js
Basic JavaScript Projects/Portfolio_Example/images/video/Typing.mp4
Basic JavaScript Projects/Portfolio_Example/images/GitHub.png
Basic JavaScript Projects/Portfolio_Example/images/GitHub(1).png
Basic JavaScript Projects/Portfolio_Example/images/C_Sharp_and_Dot_NET.png
Basic JavaScript Projects/Portfolio_Example/images/C_Sharp_and_Dot_NET(1).png
Basic JavaScript Projects/Portfolio_Example/images/coding_icon.png
Basic JavaScript Projects/Portfolio_Personal/images/html_custom.png
Basic JavaScript Projects/Portfolio_Personal/images/GitHub-logo_inverted.png
